.hide-blue-reply {
    background: transparent;
    color: #1DA1F2;
    border: none;
    padding-left: 20px;
    text-align: left;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: inherit;
    cursor: pointer;
}
